---
const { imageSrc, skillName, rating } = Astro.props;
---

<div class="group flex flex-row items-center space-x-4 p-4 bg-[#D1D1D1] border-2 border-[#01251F] rounded-lg shadow-md hover:shadow-[0_4px_12px_rgba(1,37,31,0.5)] hover:scale-105 transition-all duration-300 max-w-full">
    <img src={imageSrc} alt={skillName} class="w-16 h-16 object-contain mr-2 flex-shrink-0" />
    
    <!-- Contenedor del texto y estrellas -->
    <div class="flex flex-col flex-grow justify-between overflow-hidden">
        <!-- Nombre de la habilidad -->
        <p class="text-[#000000] text-lg leading-tight sm:leading-normal overflow-hidden whitespace-nowrap text-ellipsis">
            {skillName}
        </p>
        
        <!-- Estrellas -->
        <div class="flex space-x-1 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex-wrap">
            {[...Array(5)].map((_, index) => (
                <span class={`text-yellow-500 ${index < rating ? 'fa fa-star' : 'fa fa-star-o'} text-xs sm:text-sm md:text-base`} />
            ))}
        </div>
    </div>
</div>
